@{
    ViewData["Title"] = "About me";
}

<h2>Lois</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, numquam aut quas consectetur commodi repudiandae, odit soluta officia placeat facere nemo! Reprehenderit accusantium sapiente assumenda non tempora beatae nesciunt id.</p>